<script type="text/javascript">

    var path = window.location.pathname;
    var page = path.split("/");
    var t = document.getElementById("side-left")
    
    switch (page[1]) {
        case 'technology':
        case 'technology.html':
            t.style.backgroundImage = `url('{{ site.baseurl }}/assets/img/yk-hsm.png')`;
            break;
        case 'outdoors':
        case 'outdoors.html':
            t.style.backgroundImage = `url('{{ site.baseurl }}/assets/img/outdoor.png')`;
            break;
        case 'projects':
        case 'projects.html':
            t.style.backgroundImage = `url('{{ site.baseurl }}/assets/img/yk-case.png')`;
            break;
        default:
            t.style.backgroundImage = `url('{{ site.baseurl }}/assets/img/luna-opa.jpg')`;

}
    
</script>

<script src="{{ "/assets/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}></script>

