
html { 
    height: 100%;
  }

/* Main site container */
.container-main {
    display: flex;
    flex-grow: 1;
}

.container-left {
    flex: 2;
    flex-direction: column;
    background-color: #D6EAF8;
    background: url(../assets/img/luna-opa.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
}

.container-right {
    flex: 6;
    flex-direction: column;
    background-color: #D6EAF8;
    color: whitesmoke;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    background: url(../assets/img/bkg.png);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
}


.left-bottom {
    text-align: center;
    margin-top: 100%;
    color: #2E86C1 ;
    text-decoration: floralwhite;
    background-color:#D6EAF8;
    opacity: 0.85;
}

.title-text {
    text-align: center;
    color: #2E86C1;
}


.tt-post-title{
    font-size: xx-large;
}
.tt-username{
    color: black;
}

.tt-social{
    text-align: center;
    color: floralwhite;
}

.tt-links {
    text-align: center;
    font-size: larger;
    color: black; 
    text-decoration: black; 
  }

.tt-footer {
    color: #2E86C1 ;
    text-align: center;
}

.main-page-text {
    letter-spacing: 3px;
}
