.container-1 {
    flex-direction: row;
    display: flex;
    height: 100vh;
}

.container-2 {
    flex: 2;
    flex-direction: column;
    display: flex;
    background-color: deepskyblue;
    height: 100vh;
    background: url(../assets/img/luna-opa.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
}

.box-1 {
    height: 100vh;
}
  
.box-2 {
    flex: 5;
    padding-left: 20px;
}

.box-3 {
    background-color: deepskyblue;
    opacity: 0.75;
    align-content: flex-end;
}
